@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

:root {
  --grayColor: #e9e9e9;
  --transparentColor: #0000;
  --blackColor: #000;
}

body {
  background-color: var(--grayColor);
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  width: 100vw;
  height: 100vh;
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grayColor);
  width: 100%;
  height: 100%;
}

.main_placeholder {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 765px;
  background-color: #fff;
}

.main_placeholder li {
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  list-style: none;
}

.main_placeholder li a {
  color: #909090;
  text-decoration: none;
}

.main_placeholder li a:hover {
  color: var(--blackColor);
  text-decoration: underline;
}

.container {
  padding: 2% 2%;
  border-bottom: 1px solid #c3c3c3;
}

.input_text {
  border: none;
  outline: none;
  font-size: 17px;
  font-style: italic;
  background-color: var(--transparentColor);
  margin-left: 1%;
  width: 90%;
}

#add_taskInput {
  font-style: italic;
  padding-left: 2px;
  caret-color: var(--blackColor);
  background-color: var(--transparentColor);
}

.title_container,
.add_task_container,
.task_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.material-icons {
  color: #b1b1b1;
  cursor: pointer;
}

#add_taskInput:placeholder-shown {
  font-style: italic;
  color: #eaeaea;
}

#btn_move {
  cursor: move;
}

.leftTask_container {
  width: 100%;
}